//variabili colore
$colore: rgb(56, 56, 56);
$colore2: rgb(227, 225, 225);
$colore3: rgb(35, 35, 36);

//variabili dimensioni
$dimGrande: 1.6em;
$dimMedia: 1.2em;
$dimPiccola: 0.9em;
$dimData: 1.05em;

//variabile bordo
$bordo: 1px solid $colore;

//variabili spazio tra elementi
$margine: 1% 0;
$distanza: 1%;
$margineAuto: 0 auto;
$padd: 2%;

